<%#
Copyright © 2020, Octave Online LLC

This file is part of Octave Online Server.

Octave Online Server is free software: you can redistribute it and/or
modify it under the terms of the GNU Affero General Public License as
published by the Free Software Foundation, either version 3 of the License,
or (at your option) any later version.

Octave Online Server is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public
License for more details.

You should have received a copy of the GNU Affero General Public License
along with Octave Online Server.  If not, see
<https://www.gnu.org/licenses/>.
%>

<%- include("partials/header"); -%>

<h2>Raw MongoDB Document</h2>

<pre style="white-space: pre-wrap;"><%= JSON.stringify(user, null, 2) %></pre>

<h2>Add Instructor Course Code</h2>

<form action="<%= `/users/${user._id}/add-code.do` %>" method="post" class="pure-form">
	<input type="hidden" name="id" value="<%= user._id %>" />
	<p>
		<input type="text" name="courseCode" value="XXX_YYY_ZZZ" />
	</p>
	<p>
		<input type="submit" class="pure-button" value="Add Course Code" />
	</p>
</form>

<h2>Set Password</h2>

<%
%>

<form action="<%= `/users/${user._id}/set-password.do` %>" method="post" class="pure-form">
	<input type="hidden" name="id" value="<%= user._id %>" />
	<p>
		<input type="text" name="string" value="<%= randomString %>" />
	</p>
	<p>
		<input type="submit" class="pure-button" value="Set Password" />
	</p>
</form>

<h2>Overwrite Whole Document</h2>

<form action="<%= `/users/${user._id}/overwrite.do` %>" method="post" class="pure-form">
	<input type="hidden" name="id" value="<%= user._id %>" />
	<p>
		<%
			userFiltered = Object.assign({}, user);
			delete userFiltered._id;
		%>
		<textarea name="document" class="pure-input-1" rows="20"><%= JSON.stringify(userFiltered, null, 2) %></textarea>
	</p>
	<p>
		<input type="submit" class="pure-button" value="Overwrite" />
	</p>
</form>

<%- include("partials/footer"); -%>
