<%#
Copyright © 2020, Octave Online LLC

This file is part of Octave Online Server.

Octave Online Server is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Octave Online Server is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
for more details.

You should have received a copy of the GNU Affero General Public License along
with Octave Online Server.  If not, see <https://www.gnu.org/licenses/>.
%>
<%- include("partials/head") %>

<p>
	<img src="/images/logos/icon-black.svg" width="120px" />
</p>
<h1>Authentication Failure</h1>
<p>
	You could not be logged in with the email and password that you provided.  If you want to create a new account or if you forgot your password, click the button below to be emailed an 11-digit code to <strong><%= query ? query.s : "(empty)" %></strong>.
</p>
<form action="./tok" method="post">
	<input type="hidden" name="s" value="<%= query ? query.s : "(empty)" %>" />
	<p>
		<input type="submit" value="Send Code" />
	</p>
</form>
<p>
	Once you are signed in, use the "Change Password" option in the menu to set a new password.
</p>
<hr/>
<p>
	If you need help, contact support:
</p>
<iframe src="<%= config.email.supportUrl %>" id="support"></iframe>

<%- include("partials/foot") %>
