<!DOCTYPE html>
<!--
Copyright © 2018, Octave Online LLC

This file is part of Octave Online Server.

Octave Online Server is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Octave Online Server is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
for more details.

You should have received a copy of the GNU Affero General Public License along
with Octave Online Server.  If not, see <https://www.gnu.org/licenses/>.
-->
<html>
<head>

	<title><%= config.client.title %></title>

	<!-- Standard Meta Tags -->
	<meta name="description" content="<%= config.client.description %>"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="icon" type="image/png" sizes="32x32" href="images/logos/favicon_package/favicon-32x32.png"/>
	<link rel="icon" type="image/png" sizes="16x16" href="images/logos/favicon_package/favicon-16x16.png"/>
	<link rel="shortcut icon" href="images/logos/favicon_package/favicon.ico"/>
	<meta name="viewport" content="width=device-width"/>
	<meta name="theme-color" content="<%= config.client.theme_color %>"/>

	<!-- Mobile Config -->
	<link rel="manifest" href="images/logos/favicon_package/site.webmanifest"/>
	<link rel="mask-icon" href="images/logos/favicon_package/safari-pinned-tab.svg" color="<%= config.client.theme_color %>"/>
	<link rel="apple-touch-icon" sizes="180x180" href="images/logos/favicon_package/apple-touch-icon.png"/>
	<meta name="mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-title" content="<%= config.client.app_name %>"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<meta name="application-name" content="<%= config.client.app_name %>"/>
	<meta name="msapplication-TileColor" content="#da532c"/>
	<meta name="msapplication-config" content="images/logos/favicon_package/browserconfig.xml"/>

	<!-- Stylesheets -->
	<link href="css/themes/fire.css?<%= buildData.cssTimestamp %>" rel="stylesheet" type="text/css" id="theme"/>
	<style type="text/css">
	[aria-hidden="true"] { display: none !important; }
	</style>

	<!-- Pre-Load Spinner Image -->
	<script>
	new Image().src = "images/spinner.svg";
	</script>

</head>
<body>

<div id="flexbox">
	<header>
		<h1>
			<img alt="<%= config.client.app_name %>" src="images/logos/banner-black.svg" data-bind="attr: { src: logoSrc }" />
		</h1>
		<!-- ko if: showUserInHeader -->
		<small>
			<span data-bind="text: currentUser().name"></span>
		</small>
		<!-- /ko -->
		<div class="hamburger" id="hamburger" aria-label="Menu" role="button" aria-controls="navigation">
			<div class="hamburger-box">
				<span class="hamburger-memo"><%= t("header.ui_menu") %></span>
				<div class="hamburger-inner"></div>
			</div>
		</div>
	</header>
	<section data-hover="flex">
		<div id="files_container" aria-hidden="true" data-bind="resizeFlex:{ group: flex.sizes, index: 0 }">
			<div id="files_toolbar" class="theme-header">
				Files
				<!-- ko if: purpose() !== "bucket" -->
				<span id="files_toolbar_create" title="<%= t("editor.btn_create") %>"></span>
				<!-- /ko -->
			</div>
			<!-- ko if: purpose() !== "bucket" -->
			<div id="files_toolbar_lower">
				<span id="files_toolbar_upload" title="<%= t("editor.btn_upload") %>"></span>
				<span id="files_toolbar_refresh" title="<%= t("editor.btn_refresh") %>"></span>
				<span id="files_toolbar_info" title="<%= t("editor.btn_history") %>"></span>
			</div>
			<!-- /ko -->
			<div id="files_list_container" data-bind="css: { 'is_bucket': purpose() === 'bucket' }">
				<ul data-bind="foreach: files">
					<li data-bind="click: open, css: { 'file_active': isActive, 'modified': isModified }">
						<!-- The ko if statements are for backwards compatibility between an old main.js and a new index.html -->
						<!-- ko if: dirpart -->
						<span class="dirpart" data-bind="text: dirpart, visible: !!dirpart"></span>
						<span class="filepart" data-bind="text: filepart"></span>
						<!-- /ko -->
						<!-- ko ifnot: dirpart -->
						<span data-bind="text: filename"></span>
						<!-- /ko -->
					</li>
				</ul>
				<!-- ko if: purpose() !== "bucket" -->
				<span id="files_drop_notification">
					<%= t("editor.ui_drop") %>
				</span>
				<!-- /ko -->
			</div>
		</div>
		<div id="open_container" aria-hidden="true" data-bind="resizeFlex:{ group: flex.sizes, index: 1 }">
			<!-- ko with: openFile -->
				<div id="editor_toolbar" class="theme-header">
					<span id="editor_hamburger" data-bind="click: buttonsShown.toggle()" title="Show Toolbar"></span>
					<span id="editor_filename" data-bind="text: filename, css: { 'modified': isModified }"></span>
					<!-- ko if: runnable -->
					<span id="editor_runit" title="<%= t("editor.btn_run") %>" data-bind="click: runit"><%= t("editor.ui_run") %> &#x25b6;</span>
					<!-- /ko -->
				</div>
				<div id="editor_btn_container" data-bind="vizSafe: buttonsShown" aria-hidden="true">
					<span id="editor_download" title="<%= t("editor.btn_download") %>" data-bind="click: download"></span>
					<!-- ko if: $root.purpose() !== "bucket" -->
					<span id="editor_rename" title="<%= t("editor.btn_rename") %>" data-bind="click: rename"></span>
					<span id="editor_delete" title="<%= t("editor.btn_delete") %>" data-bind="click: deleteit"></span>
					<!-- /ko -->
					<!-- ko if: editable -->
					<span id="editor_print" title="<%= t("editor.btn_print") %>" data-bind="click: print"></span>
					<label id="wrap_checkbox" title="<%= t("editor.btn_wrap") %>"><input type="checkbox" data-bind="checked: wrap" /></label>
					<!-- ko if: $root.purpose() !== "bucket" -->
					<span id="editor_share" title="<%= t("editor.btn_share") %>" data-bind="click: share"></span>
					<!-- /ko -->
					<span id="editor_save" title="<%= t("editor.btn_save") %>" data-bind="click: save"></span>
					<!-- /ko -->
				</div>

				<!-- ko if: editable -->
					<div id="editor" data-bind="ace: { text: content, skin: $root.selectedSkin, wrap: wrap, octfile: $data }, css: { taller: !buttonsShown(), shorter: buttonsShown() }"></div>
				<!-- /ko -->
				<!-- ko ifnot: editable -->
					<div class="editor_nofile" data-bind="css: { taller: !buttonsShown(), shorter: buttonsShown() }">
						<h2>
							<%= t("editor.unsupported_title", { config }) %>
						</h2>

						<p>
							<%= t("editor.unsupported_p1") %>
						</p>
						<ol>
							<li><%= t("editor.unsupported_li1") %></li>
							<li><%= t("editor.unsupported_li2") %></li>
							<li><%= t("editor.unsupported_li3") %></li>
						</ol>
					</div>
				<!-- /ko -->
			<!-- /ko -->
			<!-- ko ifnot: openFile -->
				<div class="editor_nofile fullheight">
					<h2>
						<%= t("editor.tips_title") %>
					</h2>
					<!-- ko if: purpose() !== "bucket" -->
					<p>
						<%= t("editor.tips_p1", { config }) %>
					</p>
					<!-- /ko -->
					<h3>
						<%= t("editor.tips_subhead1") %>
					</h3>
					<p>
						<%= t("editor.tips_p2") %>
					</p>
					<dl>
						<dt>Ctrl + Space</dt>
						<dd><%= t("editor.tips_dd1") %></dd>
						<dt>Cmd/Ctrl + S</dt>
						<dd><%= t("editor.tips_dd2") %></dd>
						<dt>Cmd/Ctrl/Win + R</dt>
						<dd><%= t("editor.tips_dd3") %></dd>
						<dt>Cmd/Ctrl/Win + E</dt>
						<dd><%= t("editor.tips_dd4") %></dd>
					</dl>
					<p>
						<a href="https://github.com/ajaxorg/ace/wiki/Default-Keyboard-Shortcuts#default-keyboard-shortcuts" target="_blank"><strong><%= t("editor.tips_a1") %></strong></a>
					</p>
				</div>
			<!-- /ko -->
		</div>
		<div id="output_panel" data-bind="attr:{ style: flex.outputCss }">
			<div id="plot_container" aria-hidden="true" data-bind="vizSafe: showPlot, with: currentPlot">
				<div id="plot_figure_container" title="<%= t("panel.plot_btn_zoom") %>" data-bind="click: $root.zoomPlot, css: { fullscreen: $root.plotZoomed }">
					<div id="plot_svg_container" data-bind="visible: complete, html: completeData"></div>
					<div id="plot_loading" data-bind="visible: !complete()">
						<img src="images/spinner.svg" alt="<%= t("panel.ui_loading") %>"/>
					</div>
					<div id="plot_canvas_container">
						<canvas id="plot_canvas" width="600" height="400"></canvas>
					</div>
				</div>
				<div id="plot_controls_container">
					<p>
						<span id="plot_prev_btn" title="<%= t("panel.plot_btn_prev") %>" class="plot-nav-btn" data-bind="click: $root.showPrevPlot, css: { disabled: $root.firstPlotShown }">&laquo;</span>
						<span id="plot_next_btn" title="<%= t("panel.plot_btn_next") %>" class="plot-nav-btn" data-bind="click: $root.showNextPlot, css: { disabled: $root.lastPlotShown }">&raquo;</span>
					</p>
					<p id="plot_info">
						<%- t("panel.plot_ui_description", { lineNumberHTML: '<span data-bind="text: lineNumber"></span>' }) %>
					</p>
					<span id="plot_png_download_btn" title="<%= t("panel.plot_btn_download") %>" data-bind="click: downloadPng"></span>
					<span id="plot_svg_download_btn" title="<%= t("panel.plot_btn_download") %>" data-bind="click: downloadSvg"></span>
				</div>
			</div>
			<div id="vars_console_container"  data-hover="flex">
				<div id="vars_panel" aria-hidden="true" data-bind="resizeFlex:{ group: flex.sizes, index: 2 }">
					<div class="theme-header">
						<%= t("panel.vars_title") %>
					</div>
					<div id="vars_content">
						<ul data-bind="foreach: vars">
							<li data-bind="click: showDetails, attr: { title: typeExplanation }, flash: value">
								<span class="vars_type" data-bind="text: typeString"></span>
								<span class="vars_symb" data-bind="text: symbol"></span>
							</li>
						</ul>
					</div>
				</div>
				<div id="console_container" data-bind="resizeFlex:{ group: flex.sizes, index: 3 }">
					<div id="console_output_container">
						<pre id="console" data-bind="css: { 'console-wrap': consoleWhiteSpaceWrap }"></pre>
						<!-- ko if: currentUser() && currentUser().patreon && currentUser().patreon.tier_name -->
						<div id="tier_background"><div data-bind="class: currentUser().patreon.tier_name, click: showUpgradeTier" title="<%= t("panel.output_ui_upgraded") %>"></div></div>
						<!-- /ko -->
						<% if (config.client.onboarding) { %>
						<div id="instructor-promo" aria-hidden="true">
							<span class="l1"><%= t("promos.instructor_p1", { config }) %></span>
							<span class="l2"><%= t("promos.instructor_p2") %></span>
							<span class="l3" data-purpose="close"><%= t("promos.ui_dismiss") %></span>
						</div>
						<% } %>
						<div id="cwd_box" style="display: none" data-bind="visible: !!cwd()">cwd: <span data-bind="text: cwd"></span></div>
						<div id="type_here" aria-hidden="true">
							<span class="l1"><%= t("promos.prompt_title") %></span>
							<span class="l2"><%= t("promos.prompt_p1") %></span>
							<!-- ko ifnot: currentUser() -->
							<span class="l3"><%= t("promos.prompt_p2") %> <a href="javascript:void(0)" id="sign_in_shortcut"><%= t("promos.prompt_btn1") %></a></span>
							<!-- /ko -->
						</div>
						<span id="plot_opener" aria-hidden="true" title="<%= t("panel.plot_btn_expand") %>" data-bind="click: togglePlot"></span>
						<a id="agpl_icon" title="<%= t("panel.output_btn_github", { projectName: "Octave Online Server" }) %>" href="https://github.com/octave-online/octave-online-server" target="_blank"><img src="images/agpl-logo.svg" alt="AGPL Free Software" /></a>
						<div id="flavor_upgrade_div" style="display: none" data-bind="visible: !!canUseFlavors()">
							<!-- ko ifnot: activeFlavor -->
							<!--
							<button id="upgrade_btn" data-bind="click: showUpgradeBox" title="<%= t("panel.flavor_btn_upgrade") %>">
								<span class="disk" data-bind="css: { available: hasFlavorsAvailable() }"></span> <%= t("panel.flavor_ui_upgrade") %>
							</button>
							-->
							<!-- /ko -->
							<!-- ko with: activeFlavor -->
							<div id="flavor_status">
								<%= t("panel.flavor_ui_running_on") %> <span data-bind="text: details.displayName"></span> <span data-bind="text: minutes"></span>
							</div>
							<!-- /ko -->
						</div>
					</div>
					<div id="console_prompt_container">

						<div id="prompt_sign" aria-hidden="true">&#x300B;</div>
						<!--
						NOTE: Removing this inline height style and moving it to CSS
						will result in a race condition between Ace and the CSS file
						being loaded.
						-->
						<div id="prompt" style="height: 28px" aria-hidden="true"></div>

						<div id="runtime_controls_container" aria-hidden="true">
							<span id="signal" title="<%= t("panel.prompt_btn_sigint") %>"></span>
							<span id="seconds_remaining_container">
								<%= t("panel.prompt_ui_seconds") %>
								<span id="seconds_remaining">0</span>
							</span>
							<span id="add_time_container">
								<span class="clickable" data-bind="click: addTime"><%- t("panel.prompt_btn_add", { numSecondsHTML: '<span data-bind="text: countdownExtraTimeSeconds"></span>' }) %></span>
								<!-- ko if: (currentUser() && (!currentUser().patreon || !currentUser().patreon.currently_entitled_tier)) -->
								/ <span class="clickable" data-bind="click: showUpgradeTier"><%= t("panel.prompt_btn_upgrade") %></span>
								<!-- /ko -->
							</span>
							<span id="payload_acknowledge_container" class="clickable" data-bind="click: acknowledgePayload"><%= t("panel.prompt_btn_resume") %></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="main_menu" aria-hidden="true"><div id="main_menu_content">
			<!-- ko if: (!currentUser() && !showUserInHeader()) -->
				<svg width="200" height="40" class="login_btn" id="sign_in_with_google">
					<image xlink:href="images/sign-in-with-google.svg" src="images/sign-in-with-google.png" width="200" height="40" alt="<%= t("header.btn_sign_in_google") %>" />
				</svg>
				<svg width="200" height="40" class="login_btn" id="sign_in_with_password">
					<image xlink:href="images/sign-in-with-password.svg" src="images/sign-in-with-password.png" width="200" height="40" alt="<%= t("header.btn_sign_in_google") %>" />
				</svg>
				<svg width="200" height="40" class="login_btn" id="sign_in_with_email">
					<image xlink:href="images/sign-in-with-email.svg" src="images/sign-in-with-email.png" width="200" height="40" alt="<%= t("header.btn_sign_in_email") %>" />
				</svg>
				<p class="login_bottom">
					<%= t("header.body_change_email") %>
				</p>
			<!-- /ko -->
			<!-- ko if: (currentUser() && !showUserInHeader()) -->
				<div id="userbox">
					<span data-bind="text: currentUser().name"></span>
					<a id="logout_icon" href="javascript:void(0)" title="Sign Out" data-bind="click: doLogout"><%= t("header.btn_sign_out") %></a>
				</div>
				<div class="site-control-item" data-bind="click: showUpgradeTier">
					<a href="javascript:void(0)"><%= t("header.btn_patreon") %></a>
				</div>
				<div class="share-url-box">
					<!-- ko if: currentUser().share_key -->
						<em><%= t("header.body_share_desc") %></em>
						<input data-bind="value: shareLink" onclick="this.select()" readonly="readonly" />
						<div class="site-control-item" data-bind="click: toggleSharing">
							<a href="javascript:void(0)"><%= t("header.btn_disable_sharing") %></a>
						</div>
					<!-- /ko -->
					<!-- ko ifnot: currentUser().share_key -->
						<div class="site-control-item" data-bind="click: toggleSharing">
							<a href="javascript:void(0)"><%= t("header.btn_enable_sharing") %></a>
						</div>
					<!-- /ko -->
				</div>
				<div class="site-control-item" id="create-password-btn" data-bind="click: showChangePassword">
					<a href="javascript:void(0)"><%= t("header.btn_change_password") %></a>
				</div>
			<!-- /ko -->
			<!-- ko foreach: instructorPrograms -->
				<div class="instructor-programs">
					<strong><%= t("header.students_title") %></strong><br/>
					<em><%= t("header.students_subhead1") %> <span data-bind="text: program"></span></em>
					<ul data-bind="foreach: users">
						<li><a data-bind="attr: { href: shareUrl }, text: displayName" target="_blank"></a> (<a data-bind="click: $root.unenrollStudent" title="<%= t("header.students_btn_unenroll") %>">&#x232B;</a> <a data-bind="click: $root.reenrollStudent" title="<%= t("header.students_btn_reenroll") %>">&#x2794;</a>)</li>
					</ul>
				</div>
			<!-- /ko -->
			<div class="site-control-item" id="feedback-btn">
				<a href="javascript:void(0)"
				data-uv-lightbox="classic_widget"
				data-uv-mode="full"
				data-uv-primary-color="#cc6d00"
				data-uv-link-color="#007dbf"
				data-uv-default-mode="feedback"
				data-uv-forum-id="211888">
				<%= t("header.btn_support") %>
			</a></div>
			<div class="site-control-item">
				<a id="showprivacy"><%= t("header.btn_legal") %></a>
			</div>
			<div class="site-control-item">
				<a href="https://github.com/octave-online/octave-online-server" target="_blank"><%= t("header.btn_github") %></a>
			</div>
			<div class="site-control-item" id="change-skin">
				<a href="javascript:void(0)"><%= t("header.btn_change_theme") %></a>
			</div>
			<div class="site-control-item" id="reset-layout">
				<a href="javascript:void(0)"><%= t("header.btn_change_layout") %></a>
			</div>
			<div id="twitter-follow-holder" class="site-control-item">
				<a href="https://twitter.com/OctaveOnline" class="twitter-follow-button" data-show-count="false"
				data-lang="en" data-size="large" data-show-screen-name="false" target="_blank"><%= t("header.btn_twitter") %></a>
			</div>
			<div class="preference-inline-item">
				<label>
					<input type="checkbox" data-bind="checked: inlinePlots" />
					<%= t("header.btn_inline_plots") %>
				</label>
			</div>
			<div class="preference-inline-item">
				<label>
					<input type="checkbox" data-bind="checked: consoleWhiteSpaceWrap" />
					<%= t("header.btn_text_wrap") %>
				</label>
			</div>
			<!-- ko if: currentUser -->
			<!--
				<div class="preference-inline-item">
					<label>
						<input type="checkbox" data-bind="checked: flavorTester" />
						<%= t("header.btn_test_flavors") %>
					</label>
				</div>
			-->
			<!-- /ko -->
			<!-- ko if: allBuckets().length > 0 -->
				<div class="all-buckets">
					<strong><%= t("header.buckets_title") %></strong>
					<ul data-bind="foreach: allBuckets">
						<li>
							<a data-bind="click: deleteit" title="<%= t("header.buckets_btn_delete") %>" class="bucket-delete">&#x232B;</a>

							<a data-bind="attr: { href: url }, text: displayName" target="_blank" class="bucket-name"></a>
							<br/>
							<span data-bind="text: createdTimeString" class="bucket-time"></span>
						</li>
					</ul>
				</div>
			<!-- /ko -->
			<div id="footnotes">
				Icons made by <a href="http://www.flaticon.com/authors/bogdan-rosu" title="Bogdan Rosu" target="_blank">Bogdan Rosu</a>, <a href="http://www.flaticon.com/authors/daniel-bruce" title="Daniel Bruce" target="_blank">Daniel Bruce</a>, <a href="http://www.flaticon.com/authors/sarfraz-shoukat" title="Sarfraz Shoukat" target="_blank">Sarfraz Shoukat</a>, <a href="http://www.flaticon.com/authors/icomoon" title="Icomoon" target="_blank">Icomoon</a>, <a href="http://www.flaticon.com/authors/freepik" title="Freepik" target="_blank">Freepik</a>, <a href="http://www.flaticon.com/authors/icon-works" title="Icon Works" target="_blank">Icon Works</a>, <a href="http://www.flaticon.com/authors/plainicon" title="Plainicon" target="_blank">Plainicon</a>, and <a href="http://www.flaticon.com/authors/simpleicon" title="SimpleIcon" target="_blank">SimpleIcon</a> are from <a href="http://www.flaticon.com" title="Flaticon" target="_blank">www.flaticon.com</a> and licensed by <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank" title="Creative Commons BY 3.0">CC BY 3.0</a>.
			</div>
		</div></div>
	</section>
</div>

<% if (config.client.onboarding) { %>
<div id="onboarding" data-purpose="popover"><div><div>
	<h2><%= t("promos.welcome_title", { config }) %></h2>

	<p>
		<%= t("promos.welcome_p1", { config }) %>
	</p>
	<figure>
		<figcaption>
			<%= t("promos.welcome_p2") %>
		</figcaption>
		<img src="images/demo/fminbnd-prompt.png" alt="fminbnd(@(x) x .* log(x), 0, 1)" style="max-width: 362px;"/>
		<img src="images/demo/fminbnd-result.png" alt="0.36788" style="max-width: 366px;"/>
	</figure>
	<figure>
		<figcaption>
			<%= t("promos.welcome_p3") %>
		</figcaption>
		<img src="images/demo/sombrero-prompt.png" alt="sombrero()" style="max-width: 150px;"/>
		<img src="images/demo/sombrero-result.jpg" alt="plot showing a sombrero" style="max-width: 531px;"/>
	</figure>
	<figure>
		<figcaption>
			<%= t("promos.welcome_p4") %>
		</figcaption>
		<img src="images/demo/editor.png" alt="cstr_reactor.m"/>
	</figure>
	<button id="onboarding-start" data-purpose="close"><%= t("promos.welcome_btn_start") %></button>
	<span class="closebtn" data-purpose="close"></span>
</div></div></div>
<% } %>

<div id="announcement-box" data-purpose="popover" data-announcement-display="<%= config.client.announcement_display %>" aria-hidden="true"><div><div>
	<%- config.client.announcement_html %>
	<span class="closebtn" data-purpose="close"></span>
</div></div></div>

<div id="privacy" data-purpose="popover" aria-hidden="true"><div><div>
	<article></article>
	<span class="closebtn" data-purpose="close"></span>
</div></div></div>

<div id="email_token" data-purpose="popover" aria-hidden="true"><div><div>
	<label for="emailField"><%= t("modals.email_label1") %></label>
	<form action="./auth/tok" method="post">
		<input type="email" id="emailField1" name="s" placeholder="<%= t("common.placeholder_email") %>" />
		<input type="password" id="passwordField1" name="p" />
		<div class="g-recaptcha" data-sitekey="<%= config.recaptcha.siteKey %>"></div>
		<input type="submit" value="<%= t("common.btn_submit") %>" />
	</form>
	<p><%= t("modals.email_p1") %></p>
	<span class="closebtn" data-purpose="close"></span>
</div></div></div>

<div id="email_password" data-purpose="popover" aria-hidden="true"><div><div>
	<p><strong><%= t("modals.password_subhead1") %></strong> <%= t("modals.password_p1") %></p>
	<form action="./auth/pwd" method="post">
		<input type="email" id="emailField2" name="s" placeholder="<%= t("common.placeholder_email") %>" />
		<input type="password" name="p" placeholder="<%= t("common.placeholder_password") %>" />
		<!-- <div class="g-recaptcha" data-sitekey="<%= config.recaptcha.siteKey %>"></div> -->
		<!-- ko if: window.location.protocol === "http:" -->
		<p><strong><%= t("common.subhead_caution_colon") %></strong> <%= t("common.p_https") %> <a data-bind="attr: { href: 'https:' + window.location.href.substr(5) }"><%= t("common.btn_https") %></a></p>
		<!-- /ko -->
		<input type="submit" value="<%= t("common.btn_submit") %>" />
	</form>
	<span class="closebtn" data-purpose="close"></span>
</div></div></div>

<div id="change_password" data-purpose="popover" aria-hidden="true"><div><div>
	<h2 class="popover-title-bar">
		<%= t("modals.changepwd_title") %>
	</h2>
	<p><%= t("modals.changepwd_p1") %></p>
	<input type="password" id="new_pwd" placeholder="<%= t("common.placeholder_password") %>" />
	<!-- ko if: window.location.protocol === "http:" -->
	<p><strong><%= t("common.subhead_caution_colon") %></strong> <%= t("common.p_https") %> <a data-bind="attr: { href: 'https:' + window.location.href.substr(5) }"><%= t("common.btn_https") %></a></p>
	<!-- /ko -->
	<button id="save-password-btn"><%= t("modals.changepwd_btn_submit") %></button>
	<span class="closebtn" data-purpose="close"></span>
</div></div></div>

<div id="create_bucket" data-purpose="popover" aria-hidden="true"><div><div>
	<h2 class="popover-title-bar">
		<%= t("modals.createbucket_title") %>
	</h2>
	<!-- ko with: newBucket -->
	<div id="create-bucket-content">
		<p><%= t("modals.createbucket_p1", { config }) %></p>
		<h3><%= t("modals.createbucket_subhead1") %></h3>
		<p><%= t("modals.createbucket_p2") %></p>
		<fieldset class="bucket-files-fieldset left">
			<legend><%= t("modals.createbucket_subhead2") %></legend>
			<select data-bind="options: filesNotIncluded, optionsText: 'filename', selectedOptions: selectedLeft" multiple></select>
		</fieldset>
		<fieldset class="bucket-files-fieldset right">
			<legend><%= t("modals.createbucket_subhead3") %></legend>
			<select data-bind="options: files, optionsText: 'filename', selectedOptions: selectedRight" multiple></select>
		</fieldset>
		<p class="bucket-file-move-btns">
			<button data-bind="click: moveRightToLeft">⇦</button>
			<button data-bind="click: moveLeftToRight">⇨</button>
		</p>
		<h3><%= t("modals.createbucket_subhead4") %></h3>
		<p><%= t("modals.createbucket_p3") %></p>
		<p><label>
			<strong><%= t("modals.createbucket_label1") %></strong>
			<select data-bind="options: textFiles, optionsText: 'filename', optionsCaption: 'none', value: main"></select>
		</label></p>
		<p class="last"><%= t("modals.createbucket_p4") %></p>
	</div>
	<div id="create-bucket-bar">
		<button id="create-bucket-btn" data-bind="click: createOnServer, visible: showCreateButton"><%= t("modals.createbucket_btn_submit") %> 🡺</button>
	</div>
	<img id="create-bucket-spinner" src="images/spinner.svg" width="40" data-bind="visible: !showCreateButton()" />
	<!-- /ko -->
	<span class="closebtn" data-purpose="close" data-bind="click: clearBucket"></span>
</div></div></div>

<div id="upgrade_to_flavor" data-purpose="popover" aria-hidden="true"><div><div>
	<p><strong>Upgrade to Dedicated Server</strong></p>
	<p>Choose your server configuration:</p>
	<p>
		<select id="flavor_select" data-bind="foreach: availableFlavorsArray, value: selectedFlavor">
			<option data-bind="value: id, text: longName"></option>
		</select>
	</p>
	<!-- ko if: flavorList().length -->
	<p><em>There are currently <span data-bind="text: flavorList().length"></span> dedicated servers available!</em></p>
	<!-- /ko -->
	<p><button data-purpose="close" data-bind="click: upgradeNow">Upgrade Now</button></p>
	<span class="closebtn" data-purpose="close"></span>
</div></div></div>

<div id="upgrade_to_tier" data-purpose="popover" aria-hidden="true"><div><div>
	<!-- ko with: currentUser -->
	<h2 class="popover-title-bar">
		<%= t("modals.upgrade_title") %>
	</h2>
	<!-- ko ifnot: $data.patreon -->
	<p class="action-links">
		<a href="/auth/patreon/plans" target="_blank"><%= t("modals.upgrade_btn1") %></a> / <a href="/auth/patreon"><%= t("modals.upgrade_btn2") %></a>
	</p>
	<!-- /ko -->
	<!-- ko if: $data.patreon -->
	<!-- ko if: patreon.currently_entitled_amount_cents -->
	<p class="bigger">
		<%= t("modals.upgrade_p1", { pledgeAmountHTML: `<span data-bind="text: (patreon.currently_entitled_amount_cents/100).toLocaleString(undefined, { style: 'currency', currency: 'usd' })"></span>` }) %>
	</p>
	<!-- /ko -->
	<p class="action-links">
		<a href="/auth/patreon/plans" target="_blank"><%= t("modals.upgrade_btn3") %></a>
	</p>
	<p class="minor-action-links">
		<%= t("modals.upgrade_p2") %> <a href="/auth/patreon/revoke"><%= t("modals.upgrade_btn4") %></a>
	</p>
	<!-- /ko -->
	<p>
		<%= t("modals.upgrade_p3") %>
	</p>
	<!-- /ko -->
	<span class="closebtn" data-purpose="close"></span>
</div></div></div>

<div id="site_loading">
	<div id="cosine-pulse"></div>
	<div id="site_loading_patience" class="patience" aria-hidden="true"><%= t("modals.patience_p1") %></div>
	<div id="site_loading_more_patience" class="patience" aria-hidden="true"><%= t("modals.patience_p2") %></div>
</div>

<% if (config.client.onboarding) { %>
<div id="sync-promo" aria-hidden="true">
	<span class="l1"><%= t("promos.sync_p1") %></span>
	<span class="l2"><%= t("promos.sync_p2") %></span>
	<span class="l3" data-purpose="close"><%= t("promos.ui_dismiss") %></span>
</div>
<div id="create-bucket-promo" aria-hidden="true">
	<span class="l1"><%= t("promos.bucketcreate_p1") %></span>
	<span class="l2"><%= t("promos.bucketcreate_p2") %></span>
	<span class="l3" data-purpose="close"><%= t("promos.ui_dismiss") %></span>
</div>
<div id="share-promo" aria-hidden="true">
	<span class="l0"><%= t("promos.sharing_subhead1") %></span>
	<span class="l1"><%= t("promos.sharing_p1") %></span>
	<span class="l3" data-purpose="close"><%= t("promos.ui_dismiss") %></span>
</div>
<div id="login-promo" aria-hidden="true">
	<span class="l1"><%= t("promos.login_p1") %></span>
	<span class="l3"><%= t("promos.login_p2") %></span>
	<span class="l4" data-purpose="close"><%= t("promos.ui_dismiss") %></span>
</div>
<div id="bucket-promo" aria-hidden="true">
	<span class="l1"><%= t("promos.bucketsbacklink_p1") %></span>
	<span class="l2" data-purpose="close"><%= t("promos.ui_dismiss") %></span>
</div>
<% } %>

<% if (buildData.useDistPaths) { %>
<script type="text/javascript" src="js/require.js"></script>
<% } else { %>
<script type="text/javascript" src="vendor/requirejs/require.js"></script>
<script type="text/javascript" src="main.js"></script>
<% } %>

<script type="text/javascript">
require.config({
	urlArgs: "<%= buildData.jsTimestamp %>",
	waitSeconds: 0
});
require(["js/app"], function(){
	require(["js/runtime"]);
//var OctMethods = require("js/client"); OctMethods.console.writeError("NOTICE: Announcement Here\n\n\n\n\n\n\n\n\n\n");
// var OctMethods = require("js/client"); OctMethods.console.writeUrl("/auth/patreon"); OctMethods.console.write("\n\n\n\n\n\n\n\n\n\n");
});
</script>
</body>
</html>
