<!DOCTYPE html>
<!--
Copyright © 2018, Octave Online LLC

This file is part of Octave Online Server.

Octave Online Server is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Octave Online Server is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
for more details.

You should have received a copy of the GNU Affero General Public License along
with Octave Online Server.  If not, see <https://www.gnu.org/licenses/>.
-->
<html>
<head>

	<title><%= t(config.client.title_key, { config }) %></title>

	<!-- Standard Meta Tags -->
	<meta name="description" content="<%= t(config.client.desc_key, { config }) %>"/>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="icon" type="image/png" sizes="32x32" href="images/logos/favicon_package/favicon-32x32.png"/>
	<link rel="icon" type="image/png" sizes="16x16" href="images/logos/favicon_package/favicon-16x16.png"/>
	<link rel="shortcut icon" href="images/logos/favicon_package/favicon.ico"/>
	<meta name="viewport" content="width=device-width"/>
	<meta name="theme-color" content="<%= config.client.theme_color %>"/>

	<!-- Mobile Config -->
	<link rel="manifest" href="images/logos/favicon_package/site.webmanifest"/>
	<link rel="mask-icon" href="images/logos/favicon_package/safari-pinned-tab.svg" color="<%= config.client.theme_color %>"/>
	<link rel="apple-touch-icon" sizes="180x180" href="images/logos/favicon_package/apple-touch-icon.png"/>
	<meta name="mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-capable" content="yes"/>
	<meta name="apple-mobile-web-app-title" content="<%= config.client.app_name %>"/>
	<meta name="apple-mobile-web-app-status-bar-style" content="black"/>
	<meta name="application-name" content="<%= config.client.app_name %>"/>
	<meta name="msapplication-TileColor" content="#da532c"/>
	<meta name="msapplication-config" content="images/logos/favicon_package/browserconfig.xml"/>

	<!-- Others -->
	<link href="css/themes/fire.css?<%= buildData.cssTimestamp %>" rel="stylesheet" type="text/css" id="theme"/>
	<style type="text/css">
	[aria-hidden="true"] { display: none !important; }
	</style>
	<%- config.ads.head_html %>

</head>
<body>
<div id="abox">
	<div id="abox_default" class="abox_content" data-bind="click: showUpgradeTier">
		<%= t("header.site.adfallback#body") %>
	</div>
	<%- config.ads.abox_html %>
</div>
<div id="main">
<div id="flexbox">
	<header>
		<h1>
			<img alt="<%= config.client.app_name %>" src="images/logos/banner-black.svg" data-bind="attr: { src: logoSrc }" />
		</h1>
		<!-- ko if: extraHeaderText -->
		<small>
			<span id="extra_header_text" data-bind="text: extraHeaderText, class: purpose, click: extraHeaderTextClick"></span>
		</small>
		<!-- /ko -->
		<div class="hamburger" id="hamburger" aria-label="Menu" role="button" aria-controls="navigation">
			<div class="hamburger-box">
				<span class="hamburger-memo"><%= t("header.site.menu#btn") %></span>
				<div class="hamburger-inner"></div>
			</div>
		</div>
	</header>
	<section data-hover="flex">
		<div id="files_container" aria-hidden="true" data-bind="resizeFlex:{ group: flex.sizes, index: 0 }">
			<div id="files_toolbar" class="theme-header">
				<%= t("editor.toolbar.files#title") %>
				<!-- ko if: purpose() !== "bucket" -->
				<span id="files_toolbar_create" title="<%= t("editor.toolbar.create#btn") %>"></span>
				<!-- /ko -->
			</div>
			<!-- ko if: purpose() !== "bucket" -->
			<div id="files_toolbar_lower">
				<span id="files_toolbar_upload" title="<%= t("editor.toolbar.upload#btn") %>"></span>
				<span id="files_toolbar_refresh" title="<%= t("editor.toolbar.refresh#btn") %>"></span>
				<span id="files_toolbar_info" title="<%= t("editor.toolbar.history#btn") %>"></span>
			</div>
			<!-- /ko -->
			<div id="files_list_container" data-bind="css: { 'is_bucket': purpose() === 'bucket' }">
				<ul data-bind="foreach: files">
					<li data-bind="click: open, css: { 'file_active': isActive, 'modified': isModified }">
						<!-- The ko if statements are for backwards compatibility between an old main.js and a new index.html -->
						<!-- ko if: dirpart -->
						<span class="dirpart" data-bind="text: dirpart, visible: !!dirpart"></span>
						<span class="filepart" data-bind="text: filepart"></span>
						<!-- /ko -->
						<!-- ko ifnot: dirpart -->
						<span data-bind="text: filename"></span>
						<!-- /ko -->
					</li>
				</ul>
				<!-- ko if: purpose() !== "bucket" -->
				<span id="files_drop_notification">
					<%= t("editor.toolbar.drop#ui") %>
				</span>
				<!-- /ko -->
			</div>
		</div>
		<div id="open_container" aria-hidden="true" data-bind="resizeFlex:{ group: flex.sizes, index: 1 }">
			<!-- ko with: openFile -->
				<div id="editor_toolbar" class="theme-header">
					<span id="editor_hamburger" data-bind="click: buttonsShown.toggle()" title="<%= t("editor.toolbar.toolbar#btn") %>"></span>
					<span id="editor_filename" data-bind="text: filename, css: { 'modified': isModified }"></span>
					<!-- ko if: runnable -->
					<span id="editor_runit" title="<%= t("editor.toolbar.run#btn") %>" data-bind="click: runit"><%= t("editor.toolbar.run#ui") %> &#x25b6;</span>
					<!-- /ko -->
				</div>
				<div id="editor_btn_container" data-bind="vizSafe: buttonsShown" aria-hidden="true">
					<span id="editor_download" title="<%= t("editor.toolbar.download#btn") %>" data-bind="click: download"></span>
					<!-- ko if: $root.purpose() !== "bucket" -->
					<span id="editor_rename" title="<%= t("editor.toolbar.rename#btn") %>" data-bind="click: rename"></span>
					<span id="editor_delete" title="<%= t("editor.toolbar.delete#btn") %>" data-bind="click: deleteit"></span>
					<!-- /ko -->
					<!-- ko if: editable -->
					<span id="editor_print" title="<%= t("editor.toolbar.print#btn") %>" data-bind="click: print"></span>
					<label id="wrap_checkbox" title="<%= t("editor.toolbar.wrap#btn") %>"><input type="checkbox" data-bind="checked: wrap" /></label>
					<!-- ko if: $root.purpose() !== "bucket" && $root.authUser -->
					<span id="editor_share" title="<%= t("editor.toolbar.share#btn") %>" data-bind="click: share"></span>
					<!-- /ko -->
					<span id="editor_save" title="<%= t("editor.toolbar.save#btn") %>" data-bind="click: save"></span>
					<!-- /ko -->
				</div>

				<!-- ko if: editable -->
					<div id="editor" data-bind="ace: { text: content, skin: $root.selectedSkin, wrap: wrap, octfile: $data }, css: { taller: !buttonsShown(), shorter: buttonsShown() }"></div>
				<!-- /ko -->
				<!-- ko ifnot: editable -->
					<div class="editor_nofile" data-bind="css: { taller: !buttonsShown(), shorter: buttonsShown() }">
						<h2>
							<%= t("editor.unsupported.title", { config }) %>
						</h2>

						<p>
							<%= t("editor.unsupported.p1") %>
						</p>
						<ol>
							<li><%= t("editor.unsupported.li1") %></li>
							<li><%= t("editor.unsupported.li2") %></li>
							<li><%= t("editor.unsupported.li3") %></li>
						</ol>
					</div>
				<!-- /ko -->
			<!-- /ko -->
			<!-- ko ifnot: openFile -->
				<div class="editor_nofile fullheight">
					<h2>
						<%= t("editor.tips.title") %>
					</h2>
					<!-- ko if: purpose() !== "bucket" -->
					<p>
						<%= t("editor.tips.p1", { config }) %>
					</p>
					<!-- /ko -->
					<h3>
						<%= t("editor.tips.subhead1") %>
					</h3>
					<p>
						<%= t("editor.tips.p2") %>
					</p>
					<dl>
						<dt>Ctrl + Space</dt>
						<dd><%= t("editor.tips.dd1") %></dd>
						<dt>Cmd/Ctrl + S</dt>
						<dd><%= t("editor.tips.dd2") %></dd>
						<dt>Cmd/Ctrl/Win + R</dt>
						<dd><%= t("editor.tips.dd3") %></dd>
						<dt>Cmd/Ctrl/Win + E</dt>
						<dd><%= t("editor.tips.dd4") %></dd>
					</dl>
					<p>
						<a href="https://github.com/ajaxorg/ace/wiki/Default-Keyboard-Shortcuts#default-keyboard-shortcuts" target="_blank"><strong><%= t("editor.tips.a1") %></strong></a>
					</p>
				</div>
			<!-- /ko -->
		</div>
		<div id="output_panel" data-bind="attr:{ style: flex.outputCss }">
			<div id="plot_container" aria-hidden="true" data-bind="vizSafe: showPlot, with: currentPlot">
				<div id="plot_figure_container" title="<%= t("panel.plot.zoom#btn") %>" data-bind="click: $root.zoomPlot, css: { fullscreen: $root.plotZoomed }">
					<div id="plot_svg_container" data-bind="visible: complete, html: completeData"></div>
					<div id="plot_loading" data-bind="visible: !complete()">
						<img src="images/spinner.svg" alt="<%= t("common.loading#ui") %>"/>
					</div>
					<div id="plot_canvas_container">
						<canvas id="plot_canvas" width="600" height="400"></canvas>
					</div>
				</div>
				<div id="plot_controls_container">
					<p>
						<span id="plot_prev_btn" title="<%= t("panel.plot.prev#btn") %>" class="plot-nav-btn" data-bind="click: $root.showPrevPlot, css: { disabled: $root.firstPlotShown }">&laquo;</span>
						<span id="plot_next_btn" title="<%= t("panel.plot.next#btn") %>" class="plot-nav-btn" data-bind="click: $root.showNextPlot, css: { disabled: $root.lastPlotShown }">&raquo;</span>
					</p>
					<p id="plot_info">
						<%- t("panel.plot.description#ui", { lineNumberHTML: '<span data-bind="text: lineNumber"></span>' }) %>
					</p>
					<span id="plot_png_download_btn" title="<%= t("panel.plot.download#btn") %>" data-bind="click: downloadPng"></span>
					<span id="plot_svg_download_btn" title="<%= t("panel.plot.download#btn") %>" data-bind="click: downloadSvg"></span>
				</div>
			</div>
			<div id="vars_console_container"  data-hover="flex">
				<div id="vars_panel" aria-hidden="true" data-bind="resizeFlex:{ group: flex.sizes, index: 2 }">
					<div class="theme-header">
						<%= t("panel.vars.title") %>
					</div>
					<div id="vars_content">
						<ul data-bind="foreach: vars">
							<li data-bind="click: showDetails, attr: { title: typeExplanation }, flash: value">
								<span class="vars_type" data-bind="text: typeString"></span>
								<span class="vars_symb" data-bind="text: symbol"></span>
							</li>
						</ul>
					</div>
				</div>
				<div id="console_container" data-bind="resizeFlex:{ group: flex.sizes, index: 3 }">
					<div id="console_output_container">
						<pre id="console" data-bind="css: { 'console-wrap': consoleWhiteSpaceWrap }"></pre>
						<!-- ko if: patreonValue() > 0 -->
						<div id="tier_background"><div data-bind="class: authUser().patreon.tier_name, click: showUpgradeTier" title="<%= t("panel.output.upgraded#ui") %>"></div></div>
						<!-- /ko -->
						<% if (config.client.onboarding) { %>
						<div id="instructor-promo" aria-hidden="true">
							<span class="l1"><%= t("promos.instructor.p1", { config }) %></span>
							<span class="l2"><%= t("promos.instructor.p2") %></span>
							<span class="l3" data-purpose="close"><%= t("common.dismiss#btn") %></span>
						</div>
						<% } %>
						<div id="cwd_box" style="display: none" data-bind="visible: !!cwd()">cwd: <span data-bind="text: cwd"></span></div>
						<div id="type_here" aria-hidden="true">
							<span class="l1"><%= t("promos.prompt.title") %></span>
							<span class="l2"><%= t("promos.prompt.p1") %></span>
							<!-- ko ifnot: authUser() -->
							<span class="l3"><%= t("promos.prompt.p2") %> <a href="javascript:void(0)" id="sign_in_shortcut"><%= t("promos.prompt.btn1") %></a></span>
							<!-- /ko -->
						</div>
						<span id="plot_opener" aria-hidden="true" title="<%= t("panel.plot.expand#btn") %>" data-bind="click: togglePlot"></span>
						<a id="agpl_icon" title="<%= t("panel.output.github#btn", { projectName: "Octave Online Server" }) %>" href="https://github.com/octave-online/octave-online-server" target="_blank"><img src="images/agpl-logo.svg" alt="AGPL Free Software" /></a>
					</div>
					<div id="console_prompt_container">

						<div id="prompt_sign" aria-hidden="true">&#x300B;</div>
						<!--
						NOTE: Removing this inline height style and moving it to CSS
						will result in a race condition between Ace and the CSS file
						being loaded.
						-->
						<div id="prompt" style="height: 28px" aria-hidden="true"></div>

						<div id="runtime_controls_container" aria-hidden="true">
							<span id="signal" title="<%= t("panel.prompt.sigint#btn") %>"></span>
							<span id="seconds_remaining_container">
								<%= t("panel.prompt.seconds#ui") %>
								<span id="seconds_remaining">0</span>
							</span>
							<span id="add_time_container">
								<span class="clickable" data-bind="click: addTime"><%- t("panel.prompt.add#btn", { numSecondsHTML: '<span data-bind="text: countdownExtraTimeSeconds"></span>' }) %></span>
								<!-- ko if: (authUser() && (!authUser().patreon || !authUser().patreon.currently_entitled_tier)) -->
								/ <span class="clickable" data-bind="click: showUpgradeTier"><%= t("panel.prompt.upgrade#btn") %></span>
								<!-- /ko -->
							</span>
							<span id="payload_acknowledge_container" class="clickable" data-bind="click: acknowledgePayload"><%= t("panel.prompt.resume#btn") %></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="main_menu" aria-hidden="true"><div id="main_menu_content">
			<% if (buildData.locales.length > 1) { %>
				<div class="i18n-language-selector">
					<span class="flaticon-i18n"></span>
					<select data-bind="options: availableLanguages,
						optionsText: function(lng) {
							if (Intl.DisplayNames) {
								return new Intl.DisplayNames(lng, { type: 'language' }).of(lng);
							} else {
								return lng;
							}
						}, value: currentLanguage"></select>
				</div>
			<% } %>
			<!-- ko if: (!authUser() && purpose() !== "student") -->
				<svg width="200" height="40" class="login_btn" id="sign_in_with_google">
					<image xlink:href="images/sign-in-with-google.svg" src="images/sign-in-with-google.png" width="200" height="40" alt="<%= t("header.sidebar.signingoogle#btn") %>" />
				</svg>
				<svg width="200" height="40" class="login_btn" id="sign_in_with_password">
					<image xlink:href="images/sign-in-with-password.svg" src="images/sign-in-with-password.png" width="200" height="40" alt="<%= t("header.sidebar.signingoogle#btn") %>" />
				</svg>
				<svg width="200" height="40" class="login_btn" id="sign_in_with_email">
					<image xlink:href="images/sign-in-with-email.svg" src="images/sign-in-with-email.png" width="200" height="40" alt="<%= t("header.sidebar.signinemail#btn") %>" />
				</svg>
			<!-- /ko -->
			<!-- ko if: (authUser() && purpose() !== "student") -->
				<div id="userbox">
					<span data-bind="text: authUser().name"></span>
					<a id="logout_icon" href="javascript:void(0)" title="Sign Out" data-bind="click: doLogout"><%= t("header.sidebar.signout#btn") %></a>
				</div>
				<div class="site-control-item" data-bind="click: showUpgradeTier">
					<a href="javascript:void(0)"><%= t("header.sidebar.patreon#btn") %></a>
				</div>
				<div class="share-url-box">
					<!-- ko if: sharingEnabled -->
						<!-- ko if: purpose() !== "project" -->
						<em><%= t("header.sidebar.sharedesc#body") %></em>
						<input data-bind="value: shareLink" onclick="this.select()" readonly="readonly" />
						<!-- /ko -->
						<div class="site-control-item" data-bind="click: toggleSharing">
							<a href="javascript:void(0)"><%= t("header.sidebar.disablesharing#btn@2") %></a>
						</div>
					<!-- /ko -->
					<!-- ko ifnot: sharingEnabled -->
						<div class="site-control-item" data-bind="click: toggleSharing">
							<!-- ko if: purpose() === "project" -->
							<a href="javascript:void(0)" title="<%= t("header.sidebar.enablesharingp#tooltip") %>"><%= t("header.sidebar.enablesharing#btn@2") %></a>
							<!-- /ko -->
							<!-- ko if: purpose() !== "project" -->
							<a href="javascript:void(0)" title="<%= t("header.sidebar.enablesharing#tooltip") %>"><%= t("header.sidebar.enablesharing#btn@2") %></a>
							<!-- /ko -->
						</div>
					<!-- /ko -->
				</div>
				<div class="site-control-item" data-bind="click: showCreateNewProject">
					<a href="javascript:void(0)"><%= t("header.sidebar.createnewproject#btn") %></a>
				</div>
				<div class="site-control-item" id="create-password-btn" data-bind="click: showChangePassword">
					<a href="javascript:void(0)"><%= t("header.sidebar.changepassword#btn") %></a>
				</div>
			<!-- /ko -->
			<!-- ko foreach: instructorPrograms -->
				<div class="instructor-programs">
					<strong><%= t("header.students.title") %></strong><br/>
					<em><%= t("header.students.subhead1") %> <span data-bind="text: program"></span></em>
					<ul data-bind="foreach: users">
						<li><a data-bind="attr: { href: shareUrl }, text: displayName" target="_blank"></a> (<a data-bind="click: $root.unenrollStudent" title="<%= t("header.students.unenroll#btn") %>">&#x232B;</a> <a data-bind="click: $root.reenrollStudent" title="<%= t("header.students.reenroll#btn") %>">&#x2794;</a>)</li>
					</ul>
				</div>
			<!-- /ko -->
			<div class="site-control-item" id="feedback-btn" data-bind="click: openUserVoice">
				<a href="javascript:void(0)"><%= t("header.sidebar.support#btn") %></a>
			</div>
			<div class="site-control-item">
				<a id="showprivacy"><%= t("header.sidebar.legal#btn") %></a>
			</div>
			<div class="site-control-item">
				<a href="https://github.com/octave-online/octave-online-server" target="_blank"><%= t("header.sidebar.github#btn") %></a>
			</div>
			<div class="site-control-item" id="change-skin">
				<a href="javascript:void(0)"><%= t("header.sidebar.changetheme#btn") %></a>
			</div>
			<div class="site-control-item" id="reset-layout">
				<a href="javascript:void(0)"><%= t("header.sidebar.changelayout#btn") %></a>
			</div>
			<div id="twitter-follow-holder" class="site-control-item">
				<a href="https://twitter.com/OctaveOnline" class="twitter-follow-button" data-show-count="false"
				data-lang="en" data-size="large" data-show-screen-name="false" target="_blank"><%= t("header.sidebar.twitter#btn") %></a>
			</div>
			<div class="preference-inline-item">
				<label>
					<input type="checkbox" data-bind="checked: inlinePlots" />
					<%= t("header.sidebar.inlineplots#btn") %>
				</label>
			</div>
			<div class="preference-inline-item">
				<label>
					<input type="checkbox" data-bind="checked: consoleWhiteSpaceWrap" />
					<%= t("header.sidebar.textwrap#btn") %>
				</label>
			</div>
			<!-- ko if: allBuckets().length > 0 -->
				<div class="all-buckets">
					<strong><%= t("header.buckets.title@2") %></strong>
					<ul data-bind="foreach: allBuckets">
						<li>
							<a data-bind="click: deleteit" title="<%= t("header.buckets.delete#btn@2") %>" class="bucket-delete">&#x232B;</a>
							<!-- ko if: butype() === "readonly" -->
							<span class="bucket-icon-bucket" title="<%= t("common.bucket") %>"></span>
							<!-- /ko -->
							<!-- ko ifnot: butype() === "readonly" -->
							<span class="bucket-icon-project" title="<%= t("common.project") %>"></span>
							<!-- /ko -->

							<a data-bind="attr: { href: url }" target="_blank" class="bucket-name"><span class="bucket-shortlink-prefix">octav.onl/</span><span class="bucket-shortlink-suffix" data-bind="text: shortlink"></span></a>
							<br/>
							<span data-bind="text: createdTimeString" class="bucket-time"></span>
						</li>
					</ul>
				</div>
			<!-- /ko -->
			<div id="footnotes">
				Icons made by <a href="http://www.flaticon.com/authors/bogdan-rosu" title="Bogdan Rosu" target="_blank">Bogdan Rosu</a>, <a href="http://www.flaticon.com/authors/daniel-bruce" title="Daniel Bruce" target="_blank">Daniel Bruce</a>, <a href="http://www.flaticon.com/authors/sarfraz-shoukat" title="Sarfraz Shoukat" target="_blank">Sarfraz Shoukat</a>, <a href="http://www.flaticon.com/authors/icomoon" title="Icomoon" target="_blank">Icomoon</a>, <a href="http://www.flaticon.com/authors/freepik" title="Freepik" target="_blank">Freepik</a>, <a href="http://www.flaticon.com/authors/icon-works" title="Icon Works" target="_blank">Icon Works</a>, <a href="http://www.flaticon.com/authors/plainicon" title="Plainicon" target="_blank">Plainicon</a>, and <a href="http://www.flaticon.com/authors/simpleicon" title="SimpleIcon" target="_blank">SimpleIcon</a> are from <a href="http://www.flaticon.com" title="Flaticon" target="_blank">www.flaticon.com</a> and licensed by <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank" title="Creative Commons BY 3.0">CC BY 3.0</a>.
			</div>
		</div></div>
	</section>
</div>

<% if (config.client.onboarding) { %>
<div id="onboarding" data-purpose="popover"><div><div>
	<h2><%= t("promos.welcome.title", { config }) %></h2>

	<p>
		<%= t("promos.welcome.p1", { config }) %>
	</p>
	<figure>
		<figcaption>
			<%= t("promos.welcome.p2") %>
		</figcaption>
		<img src="images/demo/fminbnd-prompt.png" alt="fminbnd(@(x) x .* log(x), 0, 1)" style="max-width: 362px;"/>
		<img src="images/demo/fminbnd-result.png" alt="0.36788" style="max-width: 366px;"/>
	</figure>
	<figure>
		<figcaption>
			<%= t("promos.welcome.p3") %>
		</figcaption>
		<img src="images/demo/sombrero-prompt.png" alt="sombrero()" style="max-width: 150px;"/>
		<img src="images/demo/sombrero-result.jpg" alt="plot showing a sombrero" style="max-width: 531px;"/>
	</figure>
	<figure>
		<figcaption>
			<%= t("promos.welcome.p4") %>
		</figcaption>
		<img src="images/demo/editor.png" alt="cstr_reactor.m"/>
	</figure>
	<button id="onboarding-start" data-purpose="close"><%= t("promos.welcome.start#btn", { config }) %></button>
	<span class="closebtn" data-purpose="close"></span>
</div></div></div>
<% } %>

<div id="announcement-box" data-purpose="popover" data-announcement-display="<%= config.client.announcement_display %>" aria-hidden="true"><div><div>
	<%- config.client.announcement_html %>
	<span class="closebtn" data-purpose="close"></span>
</div></div></div>

<div id="welcome_back" data-purpose="popover" aria-hidden="true"><div><div>
	<h2 class="popover-title-bar">
		<%= t("modals.welcome_back.title") %>
	</h2>
	<p><%= t("modals.welcome_back.p1", { config }) %></p>
	<button data-purpose="close"><%= t("modals.welcome_back.btn1") %></button>
	<span class="closebtn" data-purpose="close"></span>
</div></div></div>

<div id="privacy" data-purpose="popover" aria-hidden="true"><div><div>
	<article><%- buildData.privacy_html %></article>
	<span class="closebtn" data-purpose="close"></span>
</div></div></div>

<div id="email_token" data-purpose="popover" aria-hidden="true"><div><div>
	<label for="emailField"><%= t("modals.email.label1") %></label>
	<form action="./auth/tok" method="post">
		<input type="email" id="emailField1" name="s" placeholder="<%= t("common.email#ph") %>" />
		<input type="password" id="passwordField1" name="p" />
		<div class="g-recaptcha" data-sitekey="<%= config.recaptcha.siteKey %>"></div>
		<input type="submit" value="<%= t("common.submit#btn") %>" />
	</form>
	<p><%= t("modals.email.p1") %></p>
	<span class="closebtn" data-purpose="close"></span>
</div></div></div>

<div id="email_password" data-purpose="popover" aria-hidden="true"><div><div>
	<p><strong><%= t("modals.password.subhead1") %></strong> <%= t("modals.password.p1") %></p>
	<form action="./auth/pwd" method="post">
		<input type="email" id="emailField2" name="s" placeholder="<%= t("common.email#ph") %>" />
		<input type="password" name="p" placeholder="<%= t("common.password#ph") %>" />
		<!-- <div class="g-recaptcha" data-sitekey="<%= config.recaptcha.siteKey %>"></div> -->
		<!-- ko if: window.location.protocol === "http:" -->
		<p><strong><%= t("common.caution#label") %></strong> <%= t("common.https#p") %> <a data-bind="attr: { href: 'https:' + window.location.href.substr(5) }"><%= t("common.https#btn") %></a></p>
		<!-- /ko -->
		<input type="submit" value="<%= t("common.submit#btn") %>" />
	</form>
	<span class="closebtn" data-purpose="close"></span>
</div></div></div>

<div id="change_password" data-purpose="popover" aria-hidden="true"><div><div>
	<h2 class="popover-title-bar">
		<%= t("modals.changepwd.title") %>
	</h2>
	<p><%= t("modals.changepwd.p1") %></p>
	<input type="password" id="new_pwd" placeholder="<%= t("common.password#ph") %>" />
	<!-- ko if: window.location.protocol === "http:" -->
	<p><strong><%= t("common.caution#label") %></strong> <%= t("common.https#p") %> <a data-bind="attr: { href: 'https:' + window.location.href.substr(5) }"><%= t("common.https#btn") %></a></p>
	<!-- /ko -->
	<button id="save-password-btn"><%= t("modals.changepwd.submit#btn") %></button>
	<span class="closebtn" data-purpose="close"></span>
</div></div></div>

<div id="bucket_info" data-purpose="popover" aria-hidden="true"><div><div>
	<!-- ko with: currentBucket -->
	<h2 class="popover-title-bar">
		<!-- ko if: butype() === "readonly" -->
		<%= t("common.bucket") %>
		<!-- /ko -->
		<!-- ko ifnot: butype() === "readonly" -->
		<%= t("common.project") %>
		<!-- /ko -->
		<span data-bind="text: shortlink"></span>
	</h2>
	<div class="shortlink">
		<span class="shortlink-url" data-bind="text: shortUrl"></span>
		<!-- ko if: isOwnedByCurrentUser -->
		<span class="edit-shortlink" title="<%= t('modals.bucketinfo.btn2') %>" data-bind="click: editShortlink"></span>
		<!-- /ko -->
	</div>
	<p>
		<%= t("modals.bucketinfo.p1") %>
	</p>
	<p>
		<a class="action-link" data-bind="click: $root.showCloneAsProject">
			<!-- ko if: butype() === "readonly" -->
			<%= t("modals.bucketinfo.btn1") %>
			<!-- /ko -->
			<!-- ko ifnot: butype() === "readonly" -->
			<%= t("modals.bucketinfo.btn1p") %>
			<!-- /ko -->
		</a>
	</p>
	<!-- ko with: baseModel -->
	<p>
		<%= t("modals.bucketinfo.label2") %>
		<a data-bind="attr: { href: url }" target="_blank">
			<!-- ko if: butype() === "readonly" -->
			<%= t("common.bucket") %>
			<!-- /ko -->
			<!-- ko ifnot: butype() === "readonly" -->
			<%= t("common.project") %>
			<!-- /ko -->
			<span data-bind="text: shortlink"></span>
		</a>
	</p>
	<!-- /ko -->
	<p>
		<%= t("modals.bucketinfo.label1") %>
		<span data-bind="text: createdTimeString"></span>
	</p>
	<!-- /ko -->
	<span class="closebtn" data-purpose="close"></span>
</div></div></div>

<div id="create_bucket" data-purpose="popover" aria-hidden="true"><div><div>
	<!-- ko with: newBucket -->
	<h2 class="popover-title-bar">
		<!-- ko if: butype() === "readonly" -->
		<%= t("modals.createbucket.title") %>
		<!-- /ko -->
		<!-- ko ifnot: butype() === "readonly" -->
		<%= t("modals.createbucket.titlep") %>
		<!-- /ko -->
	</h2>
	<div id="create-bucket-content">
		<p><%= t("modals.createbucket.p1@2") %></p>
		<div class="bucket-butype">
			<label><input type="radio" value="readonly" data-bind="checked: butype" /><span><%= t("common.bucket") %></span></label>
			<label><input type="radio" value="editable" data-bind="checked: butype" /><span><%= t("common.project") %></span></label>
		</div>
		<h3>
			<!-- ko if: butype() === "readonly" -->
			<%= t("modals.createbucket.subhead1@2") %>
			<!-- /ko -->
			<!-- ko ifnot: butype() === "readonly" -->
			<%= t("modals.createbucket.subhead1p") %>
			<!-- /ko -->
		</h3>
		<p><%= t("modals.createbucket.p2") %></p>
		<fieldset class="bucket-files-fieldset left">
			<legend><%= t("modals.createbucket.subhead2") %></legend>
			<select data-bind="options: filesNotIncluded, optionsText: 'filename', selectedOptions: selectedLeft" multiple></select>
		</fieldset>
		<fieldset class="bucket-files-fieldset right">
			<legend>
				<!-- ko if: butype() === "readonly" -->
				<%= t("modals.createbucket.subhead3") %>
				<!-- /ko -->
				<!-- ko ifnot: butype() === "readonly" -->
				<%= t("modals.createbucket.subhead3p") %>
				<!-- /ko -->
			</legend>
			<select data-bind="options: files, optionsText: 'filename', selectedOptions: selectedRight" multiple></select>
		</fieldset>
		<p class="bucket-file-move-btns">
			<button data-bind="click: moveRightToLeft">⇦</button>
			<button data-bind="click: moveLeftToRight">⇨</button>
		</p>
		<h3><%= t("modals.createbucket.subhead5") %></h3>
		<p><%= t("modals.createbucket.p5", { config }) %></p>
		<p><label>
			<tt><%= t("constants.shortlink_prefix", { config }) %></tt>
			<input type="text" data-bind="value: shortlink" />
		</label></p>
		<!-- ko if: butype() === "readonly" -->
		<h3><%= t("modals.createbucket.subhead4") %></h3>
		<p><%= t("modals.createbucket.p3") %></p>
		<p><label>
			<strong><%= t("modals.createbucket.label1") %></strong>
			<select data-bind="options: textFiles, optionsText: 'filename', optionsCaption: 'none', value: main"></select>
		</label></p>
		<!-- /ko -->
		<p class="last">
			<!-- ko if: butype() === "readonly" -->
			<%= t("modals.createbucket.p4") %>
			<!-- /ko -->
			<!-- ko ifnot: butype() === "readonly" -->
			<%= t("modals.createbucket.p4p") %>
			<!-- /ko -->
		</p>
	</div>
	<div id="create-bucket-bar">
		<button id="create-bucket-btn" data-bind="click: createOnServer, visible: showCreateButton">
			<!-- ko if: butype() === "readonly" -->
			<%= t("modals.createbucket.submit#btn") %> ➡
			<!-- /ko -->
			<!-- ko ifnot: butype() === "readonly" -->
			<%= t("modals.createbucket.submitp#btn") %> ➡
			<!-- /ko -->
		</button>
	</div>
	<img id="create-bucket-spinner" src="images/spinner.svg" width="40" data-bind="visible: !showCreateButton()" />
	<!-- /ko -->
	<span class="closebtn" data-purpose="close" data-bind="click: clearBucket"></span>
</div></div></div>

<div id="upgrade_to_tier" data-purpose="popover" aria-hidden="true"><div><div>
	<h2 class="popover-title-bar">
		<%= t("modals.upgrade.title") %>
	</h2>
	<!-- ko ifnot: authUser -->
	<p class="action-links">
		<a href="/auth/patreon/plans" target="_blank"><%= t("modals.upgrade.btn1") %></a> / <a href="/auth/patreon"><%= t("modals.upgrade.btn2") %></a>
	</p>
	<!-- /ko -->
	<!-- ko with: authUser -->
	<!-- ko ifnot: $data.patreon -->
	<p class="action-links">
		<a href="/auth/patreon/plans" target="_blank"><%= t("modals.upgrade.btn1") %></a> / <a href="/auth/patreon"><%= t("modals.upgrade.btn2") %></a>
	</p>
	<!-- /ko -->
	<!-- ko if: $data.patreon -->
	<!-- ko if: patreon.currently_entitled_amount_cents -->
	<p class="bigger">
		<%- t("modals.upgrade.p1", { pledgeAmountHTML: `<span data-bind="text: (patreon.currently_entitled_amount_cents/100).toLocaleString(undefined, { style: 'currency', currency: 'usd' })"></span>` }) %>
	</p>
	<!-- /ko -->
	<p class="action-links">
		<a href="/auth/patreon/plans" target="_blank"><%= t("modals.upgrade.btn3") %></a>
	</p>
	<p class="minor-action-links">
		<%= t("modals.upgrade.p2") %> <a href="/auth/patreon/revoke"><%= t("modals.upgrade.btn4") %></a>
	</p>
	<!-- /ko -->
	<!-- /ko -->
	<p>
		<%= t("modals.upgrade.p3", { config }) %>
	</p>
	<span class="closebtn" data-purpose="close"></span>
</div></div></div>

<div id="file_history_box" data-purpose="popover" aria-hidden="true"><div><div>
	<h2 class="popover-title-bar">
		<%= t("modals.history.title") %>
	</h2>
	<!-- ko if: purpose() !== "project" -->
	<h3><%= t("modals.history.subtitle1") %></h3>
	<p>
		<%= t("modals.history.p1") %>
	</p>
	<button data-bind="click: openGit"><%= t("modals.history.btn1") %></button>
	<!-- /ko -->
	<h3><%= t("modals.history.subtitle2") %></h3>
	<p>
		<%= t("modals.history.p2") %>
	</p>
	<button data-bind="click: generateZip"><%= t("modals.history.btn2") %></button>
	<span class="closebtn" data-purpose="close"></span>
</div></div></div>

<div id="site_loading">
	<div id="cosine-pulse"></div>
	<div id="site_loading_patience" class="patience" aria-hidden="true"><%= t("modals.patience.p1") %></div>
	<div id="site_loading_more_patience" class="patience" aria-hidden="true"><%= t("modals.patience.p2") %></div>
</div>

<% if (config.client.onboarding) { %>
<div id="sync-promo" aria-hidden="true">
	<span class="l1"><%= t("promos.sync.p1") %></span>
	<span class="l2"><%= t("promos.sync.p2") %></span>
	<span class="l3" data-purpose="close"><%= t("common.dismiss#btn") %></span>
</div>
<div id="create-bucket-promo" aria-hidden="true">
	<span class="l1"><%= t("promos.bucketcreate.p1") %></span>
	<span class="l2"><%= t("promos.bucketcreate.p2") %></span>
	<span class="l3" data-purpose="close"><%= t("common.dismiss#btn") %></span>
</div>
<div id="share-promo" aria-hidden="true">
	<span class="l0"><%= t("promos.sharing.subhead1") %></span>
	<span class="l1"><%= t("promos.sharing.p1@2") %></span>
	<span class="l3" data-purpose="close"><%= t("common.dismiss#btn") %></span>
</div>
<div id="login-promo" aria-hidden="true">
	<span class="l1"><%= t("promos.login.p1") %></span>
	<span class="l3"><%= t("promos.login.p2") %></span>
	<span class="l4" data-purpose="close"><%= t("common.dismiss#btn") %></span>
</div>
<div id="bucket-promo" aria-hidden="true">
	<span class="l1"><%= t("promos.bucketsbacklink.p1", { config }) %></span>
	<span class="l2" data-purpose="close"><%= t("common.dismiss#btn") %></span>
</div>
<% } %>

<script type="text/javascript">
window.oo_translations = <%- JSON.stringify(oo_translations) %>;
window.oo_currentLanguage = <%- JSON.stringify(currentLanguage) %>;
window.oo_availableLanguages = <%- JSON.stringify(buildData.locales) %>;
</script>

<% if (buildData.useDistPaths) { %>
<script type="text/javascript" src="js/require.js"></script>
<% } else { %>
<script type="text/javascript" src="vendor/requirejs/require.js"></script>
<script type="text/javascript" src="main.js"></script>
<% } %>

<script type="text/javascript">
require.config({
	urlArgs: "<%= buildData.jsTimestamp %>",
	waitSeconds: 0
});
require(["js/app"], function(){
	require(["js/runtime"]);
//var OctMethods = require("js/client"); OctMethods.console.writeError("NOTICE: Announcement Here\n\n\n\n\n\n\n\n\n\n");
// var OctMethods = require("js/client"); OctMethods.console.writeUrl("/auth/patreon"); OctMethods.console.write("\n\n\n\n\n\n\n\n\n\n");
});
</script>
</div>
</body>
</html>
