<%#
Copyright © 2020, Octave Online LLC

This file is part of Octave Online Server.

Octave Online Server is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Octave Online Server is distributed in the hope that it will be useful, but
WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
for more details.

You should have received a copy of the GNU Affero General Public License along
with Octave Online Server.  If not, see <https://www.gnu.org/licenses/>.
%>
<%- include("partials/head") %>

<p>
	<img src="/images/logos/icon-black.svg" width="120px" />
</p>
<h1>Email Sign-In</h1>
<form action="./tok" method="get">
	<p>
		<label for="token">An email has been sent to you with your login token.  When you receive your token, enter it here:</label>
	</p>
	<input type="hidden" name="u" value="<%= query ? query.s : '' %>" />
	<p>
		<input type="text" name="t" id="t" value="" autofocus="autofocus" placeholder="Enter Token" />
	</p>
	<p>
		<input type="submit" value="Submit" />
	</p>
</form>
<p>
	After you sign in, you can use the "Change Password" option in the menu to set a new password.  If you don't set a password, you can have Octave Online email you a token whenever you sign in.  This prevents you from having to remember a unique password for Octave Online.
</p>
<p>
	The email address you entered was: <strong><%= query ? query.s : "(empty)" %></strong>.  If you entered an invalid email address, please click the back button and try again.
</p>
<hr/>
<p>
	If you did not receive your code or need help, contact support:
</p>
<iframe src="<%= config.email.supportUrl %>" id="support"></iframe>

<%- include("partials/foot") %>
